.mpp-main {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.mpp-body {
  margin-top: 4.5rem;
  margin-bottom: 5rem;
  height: 100%;

  overflow-y: hidden;

  /*         margin-top: 70px;
        margin-bottom: 60px;
        margin-left: -10px;
        margin-right: -10px; */

  /* margin-top: 50px; */
}
.iconX {
  font-size: 3rem;
  color: white;
  line-height: 0;
}
.links {
  transition: transform 0.2s;
}

.links:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.closeBTN {
  transition: transform 0.2s;
}
.closeBTN:hover {
  color: red;
  transform: scale(1.3);
}
